
.icon-download:before { content: '\e80d'; } /* '' */
.icon-delivery:before { content: '\e80e'; } /* '' */
.icon-box:before { content: '\e80f'; } /* '' */
.icon-ngo:before { content: '\e810'; } /* '' */
.icon-stopwatch:before { content: '\e811'; } /* '' */
.icon-badge:before { content: '\e812'; } /* '' */